@import "~@angular/material/theming";

app-form {
  width: 100%;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
  font-weight: bold;
}
.container {
  position: relative;
}
#customer-form {
  position: relative;
  margin-left: 5px;
}

@mixin customers-theme($my-theme) {
  // Parse the theme and create variables for each color in the pallete
  $warn: map-get($my-theme, warn);
  $accent: map-get($my-theme, accent);
  // Create theme specfic styles
  #mat-card-list {
    background-color: mat-color($accent, 400);
  }
}
