<mat-card id="mat-card-title"><h1>Clientes de Northwind</h1> </mat-card>
<div class="container">
  <div class="row" id="customer-form">
    <div class="col">
      <app-form
        [parentData]="updateableCustomer"
        (refreshTable)="gotNewCustomersData($event)"
      ></app-form>
    </div>
    <div class="col">
      <mat-card id="mat-card-list"
        ><h2>Lista de empleados</h2>
        <app-customers-table
          (sendOutParent)="gotCustomer($event)"
          [refreshCustomersTable]="refreshCustomersTable"
        ></app-customers-table>
      </mat-card>
    </div>
  </div>
</div>
