@import "~@angular/material/theming";

@mixin app-theme($my-theme) {
  // Parse the theme and create variables for each color in the pallete
  $warn: map-get($my-theme, warn);
  // Create theme specfic styles

  #mat-card-title {
    position: relative;
    margin-bottom: 1%;
    z-index: 2;
    background-color: mat-color($warn, 800);
  }
}

#mat-card-content {
  position: relative;
  font-size: 14pt;
  font-weight: lighter;
  background-color: rgb(33, 104, 128);
}
