<mat-card id="mat-card-title"><h1>Información de contacto</h1> </mat-card>
<mat-card id="mat-card-content">
  <div class="row">
    <div class="col-auto">
      <img src="/assets/fotocv.jpg" alt="FotoCV" id="fotoCV" />
    </div>
    <div class="col">
      <address id="personalData">
        Torres Ignacio.<br />
        Estudiante de Ingeniería Electrónica.<br />
        Ciudad Natal: Córdoba, Argentina.<br />
        <abbr title="Teléfono">T:</abbr>
        +54 351 2678-366<br />
      </address>

      <a href="https://www.linkedin.com/in/ignacio-torres-399993207/">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Linkedin.svg/200px-Linkedin.svg.png"
          class="icon"
          alt="Linkedin Icono"
        />
      </a>
      <a href="https://www.instagram.com/nachoptorres/">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/800px-Instagram_logo_2016.svg.png"
          class="icon"
          alt="Instagram Icono"
        />
      </a>
      <address>
        <a href="mailto:Torres.Ignacio.TI@gmail.com">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Gmail_icon_%282020%29.svg/800px-Gmail_icon_%282020%29.svg.png"
            class="icon"
            alt="Gmail Icono"
        /></a>
        Torres.Ignacio.TI@gmail.com <br />
      </address>

      <br />
    </div>
  </div>
</mat-card>
