<mat-card id="mat-card-title"><h1>Sobre este TP</h1> </mat-card>
<mat-card id="mat-card-content">
  <p>
    En este TP se realiza un ABMC de la entidad customers de la base de datos
    utilizando la Web Api creada en el TP9.
  </p>
  <p>
    La pestaña clientes desplega una tabla que contiene customersID, contactName
    y companyName de la entidad Customers. La misma permite eliminar elementos
    que no tengan dependencias con otras tablas y el botón modificar carga el
    elemento en el formulario.
  </p>
  <p>
    El formulario permite añadir elementos o modificarlos si se provee una ID
    que ya exista.
  </p>
</mat-card>
