@{
    ViewBag.Title = "Contacto";
}

<head>
    <link rel="stylesheet" href="~/Content/Contacto.css" type="text/css" />
</head>

<body>

    <br /><h2>@ViewBag.Title</h2><br />
    <h3>@ViewBag.Message</h3>

    <address id="personalData">
        Torres Ignacio<br />
        Estudiante de Ingeniería Electrónica<br />
        Ciudad Natal: Córdoba, Argentina<br />
        <abbr title="Teléfono">T:</abbr>
        +54 351 2678-366<br />
    </address>

    <address>
        <a href="mailto:Torres.Ignacio.TI@gmail.com">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Gmail_icon_%282020%29.svg/800px-Gmail_icon_%282020%29.svg.png"
                 class="icon" alt="Gmail Icono" />
            Torres.Ignacio.TI@gmail.com
        </a><br />
    </address>

    <address>
        <a href="https://www.linkedin.com/in/ignacio-torres-399993207/">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Linkedin.svg/200px-Linkedin.svg.png" class="icon"
                 alt="Linkedin Icono" />
        </a>
        
    </address>
</body>